#@ load("@ytt:data", "data")

<<<<<<< HEAD
#@ galoy_api_image_digest = "sha256@782d61a360ebe3e6d33ffd4fea1ac98c1283d49a868be2e03e4eeabcd88b8e98"
#@ galoy_trigger_image_digest = "sha256@36f1532b99a6589e912642e0cd8c585609cd78ed9221c7397097500f8a556240"
#@ mongodb_migrate_image_digest = "sha256@02961f70578fa7fd1ba8421abe24849acbc1dacb2ec3672829dbeddf2519bfcb"
#@ galoy_notifications_image_digest = "sha256@da8253b3852782d228d3439185121ffc278bd1a9c0d2e6458ca8fc9db9c75b06"
=======
#@ galoy_api_image_digest = "sha256@fd3e4a5484fbe7cb6bfa7c2236dbbac2997a9084f2cac2f10360a0d12248e4e6"
#@ galoy_trigger_image_digest = "sha256@6ae51f14c7f8488bf01ccdb2d7495eb535c84b68a42b63b372c9427d90e24f4b"
#@ mongodb_migrate_image_digest = "sha256@02e6fc139305dd308c6380653ec0ba294f75b0ceef6bff7741d356e771950b62"
#@ galoy_notifications_image_digest = "sha256@511bd15563b22e3943e1581b51dc4dab615d02141ea7ca846eb067611b04a5cf"
#@ galoy_api_keys_image_digest = "sha256@4b0b7bee8441dfaf623a1693dd60e24669db0b9e37baa30ecd8925cbe6590a1e"
>>>>>>> upstream/main

#@ core_env = [
#@   "HELMREVISION=dev",
#@   "NETWORK=regtest",
#@   "OATHKEEPER_DECISION_ENDPOINT=http://oathkeeper:4456",
#@   "TWILIO_ACCOUNT_SID=AC_twilio_id",
#@   "TWILIO_AUTH_TOKEN=AC_twilio_auth_token",
#@   "TWILIO_VERIFY_SERVICE_ID=VA_twilio_service",
#@   "KRATOS_PG_CON=postgres://dbuser:secret@kratos-pg:5432/default?sslmode=disable",
#@   "KRATOS_PUBLIC_API=http://kratos:4433",
#@   "KRATOS_ADMIN_API=http://kratos:4434",
#@   "KRATOS_MASTER_USER_PASSWORD=passwordHardtoFindWithNumber123",
#@   "KRATOS_CALLBACK_API_KEY=The-Value-of-My-Key",
#@   "PRICE_HOST=price",
#@   "PRICE_HISTORY_HOST=price-history",
#@   "PRICE_SERVER_HOST=stablesats",
#@   "BRIA_HOST=bria",
#@   "BRIA_API_KEY=bria_dev_000000000000000000000",
#@   "NOTIFICATIONS_HOST=notifications",
#@   "MONGODB_CON=mongodb://mongodb:27017/galoy",
#@   "REDIS_MASTER_NAME=mymaster",
#@   "REDIS_PASSWORD=",
#@   "REDIS_0_DNS=redis",
#@   "REDIS_0_PORT=6379",
#@   "REDIS_TYPE=standalone",
#@   "UNSECURE_IP_FROM_REQUEST_OBJECT=true",
#@   "UNSECURE_DEFAULT_LOGIN_CODE=000000",
#@   "GEETEST_ID=geetest_id",
#@   "GEETEST_KEY=geetest_key",
#@   "LND1_TLS=LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNZVENDQWdlZ0F3SUJBZ0lSQU9zZzdYWFR4cnVZYlhkeTY2d3RuN1F3Q2dZSUtvWkl6ajBFQXdJd09ERWYKTUIwR0ExVUVDaE1XYkc1a0lHRjFkRzluWlc1bGNtRjBaV1FnWTJWeWRERVZNQk1HQTFVRUF4TU1PRFl4T1RneApNak5tT0Roak1CNFhEVEl6TURFeE9USXdOREUxTTFvWERUTTBNRGN5TVRJd05ERTFNMW93T0RFZk1CMEdBMVVFCkNoTVdiRzVrSUdGMWRHOW5aVzVsY21GMFpXUWdZMlZ5ZERFVk1CTUdBMVVFQXhNTU9EWXhPVGd4TWpObU9EaGoKTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFM1lieUlKWU1Vcm8zZkl0UFFucysxZ2lpTXI5NQpJUXRmclFDQ2JhOWVtcjI4TENmbk1vYy9VQVFwUlg3QVlvVFRneUdiMFBuZGNUODF5ZVgvYTlPa0RLT0I4VENCCjdqQU9CZ05WSFE4QkFmOEVCQU1DQXFRd0V3WURWUjBsQkF3d0NnWUlLd1lCQlFVSEF3RXdEd1lEVlIwVEFRSC8KQkFVd0F3RUIvekFkQmdOVkhRNEVGZ1FVL1AxRHpJUkRzTEhHMU10d3NrZE5nZ0lub1Mwd2daWUdBMVVkRVFTQgpqakNCaTRJTU9EWXhPVGd4TWpObU9EaGpnZ2xzYjJOaGJHaHZjM1NDRFd4dVpDMXZkWFJ6YVdSbExUR0NEV3h1ClpDMXZkWFJ6YVdSbExUS0NEV3h1WkMxdmRYUnphV1JsTFRPQ0JHeHVaREdDQkd4dVpES0NCSFZ1YVhpQ0NuVnUKYVhod1lXTnJaWFNDQjJKMVptTnZibTZIQkg4QUFBR0hFQUFBQUFBQUFBQUFBQUFBQUFBQUFBR0hCS3dUQUJBdwpDZ1lJS29aSXpqMEVBd0lEU0FBd1JRSWhBSU5DNlJWQ3d6SzFYRnFxeVNLY0Y4QzQ5ZFlSOThjemdLNVdkcmNOCkxYYWlBaUJHYmtWeGhaeHdDaDVLQ1o1Z2M1Q2FsQ0RvaGNxVkdiaHNya0hHTFhpdHN3PT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=",
#@   "LND1_MACAROON=AgEDbG5kAvgBAwoQB1FdhGa9xoewc1LEXmnURRIBMBoWCgdhZGRyZXNzEgRyZWFkEgV3cml0ZRoTCgRpbmZvEgRyZWFkEgV3cml0ZRoXCghpbnZvaWNlcxIEcmVhZBIFd3JpdGUaIQoIbWFjYXJvb24SCGdlbmVyYXRlEgRyZWFkEgV3cml0ZRoWCgdtZXNzYWdlEgRyZWFkEgV3cml0ZRoXCghvZmZjaGFpbhIEcmVhZBIFd3JpdGUaFgoHb25jaGFpbhIEcmVhZBIFd3JpdGUaFAoFcGVlcnMSBHJlYWQSBXdyaXRlGhgKBnNpZ25lchIIZ2VuZXJhdGUSBHJlYWQAAAYgqHDdwGCqx0aQL1/Z3uUfzCpeBhfapGf9s/AZPOVwf6s=",
#@    "LND1_PUBKEY=03ca1907342d5d37744cb7038375e1867c24a87564c293157c95b2a9d38dcfb4c2",
#@   "LND1_DNS=lnd1",
#@   "LND1_RPCPORT=10009",
#@   "LND1_NAME=lnd1",
#@   "LND1_TYPE=offchain,onchain",
#@   "SVIX_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2OTE2NzIwMTQsImV4cCI6MjAwNzAzMjAxNCwibmJmIjoxNjkxNjcyMDE0LCJpc3MiOiJzdml4LXNlcnZlciIsInN1YiI6Im9yZ18yM3JiOFlkR3FNVDBxSXpwZ0d3ZFhmSGlyTXUifQ.b9s0aWSisNdUNki4edabBEToLNSwjC9-AiJQr4J3y4E",
#@   "SVIX_ENDPOINT=http://svix:8071",
#@   "EXPORTER_PORT=3003",
#@   "OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-agent:4318"]

version: #@ data.values.version
services:
  quickstart-test:
    image: busybox
    depends_on:
      - apollo-router
      - oathkeeper
      - kratos
      - galoy
      - trigger
      - redis
      - mongodb
      - mongodb-migrate
      - price
      - bitcoind
      - bitcoind-signer
      - lnd1
      - lnd-outside-1
      - bria
      - fulcrum
      - stablesats
      - svix
      - hydra
      - api-keys
    restart: on-failure:10

  #! Proxies
  apollo-router: #@ data.values.services["apollo-router"]
  oathkeeper: #@ data.values.services["oathkeeper"]

  #! Authentication
  kratos: #@ data.values.services["kratos"]
  kratos-pg: #@ data.values.services["kratos-pg"]

  hydra: #@ data.values.services["hydra"]
  hydra-migrate: #@ data.values.services["hydra-migrate"]
  hydra-pg: #@ data.values.services["hydra-pg"]

  galoy:
#@ if galoy_api_image_digest == "local":
    build:
      context: ..
      dockerfile: core/api/Dockerfile
#@ elif galoy_api_image_digest.startswith("sha256@"):
    image: #@ "us.gcr.io/galoy-org/galoy-api@" + galoy_api_image_digest.replace("@",":")
#@ else:
    image: #@ "us.gcr.io/galoy-org/galoy-api:" + galoy_api_image_digest
#@ end
    environment: #@ core_env
    depends_on:
    - apollo-router
    - oathkeeper
    - kratos
    - lnd1
    - lnd-outside-1
    - bria
    - mongodb
    - redis
    - stablesats
    - notifications
    - price
    - price-history
    - svix
    networks:
      default:
        aliases:
        - bats-tests
  trigger:
#@ if galoy_trigger_image_digest == "local":
    build:
      context: ..
      dockerfile: core/api-trigger/Dockerfile
#@ elif galoy_trigger_image_digest.startswith("sha256@"):
    image: #@ "us.gcr.io/galoy-org/galoy-api-trigger@" + galoy_trigger_image_digest.replace("@",":")
#@ else:
    image: #@ "us.gcr.io/galoy-org/galoy-api-trigger:" + galoy_trigger_image_digest
#@ end
    environment: #@ core_env
    depends_on:
    - galoy

  notifications:
#@ if galoy_notifications_image_digest == "local":
    build:
      context: ..
      dockerfile: core/notifications/Dockerfile
#@ elif galoy_notifications_image_digest.startswith("sha256@"):
    image: #@ "us.gcr.io/galoy-org/galoy-notifications@" + galoy_notifications_image_digest.replace("@",":")
#@ else:
    image: #@ "us.gcr.io/galoy-org/galoy-notifications:" + galoy_notifications_image_digest
#@ end
    environment:
    - PG_CON=postgres://user:password@notifications-pg:5432/pg
    - PG_READ_CON=postgres://user:password@notifications-pg:5432/pg
    - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-agent:4318
    - NOTIFICATIONS_CONFIG=/config/notifications/notifications.yml
    ports:
    - 6685:6685
    volumes:
    - ${HOST_PROJECT_PATH:-.}/config/notifications/notifications.yml:/config/notifications/notifications.yml
    - ${HOST_PROJECT_PATH:-.}/config/notifications/fake_service_account.json:/app/notifications/config/notifications/fake_service_account.json
    depends_on:
    - notifications-pg
  notifications-pg: #@ data.values.services["notifications-pg"]

  api-keys:
#@ if galoy_api_keys_image_digest == "local":
    build:
      context: ..
      dockerfile: core/api-keys/Dockerfile
#@ elif galoy_api_keys_image_digest.startswith("sha256@"):
    image: #@ "us.gcr.io/galoy-org/galoy-api-keys@" + galoy_api_keys_image_digest.replace("@",":")
#@ else:
    image: #@ "us.gcr.io/galoy-org/galoy-api-keys:" + galoy_api_keys_image_digest
#@ end
    environment:
    - PG_CON=postgres://user:password@api-keys-pg:5432/pg
    - API_KEYS_CONFIG=/config/api-keys/api-keys.yml
    ports:
    - 5397:5397
    volumes:
    - ${HOST_PROJECT_PATH:-.}/config/api-keys/api-keys.yml:/config/api-keys/api-keys.yml
    depends_on:
    - api-keys-pg
    - otel-agent
    - kratos
    - oathkeeper
    networks:
      default:
        aliases:
        - bats-tests
  api-keys-pg:  #@ data.values.services["api-keys-pg"]

  #! Database
  redis: #@ data.values.services["redis"]
  mongodb: #@ data.values.services["mongodb"]
  mongodb-migrate:
#@ if mongodb_migrate_image_digest == "local":
    build:
      context: ..
      dockerfile: core/api/Dockerfile-migrate
#@ elif mongodb_migrate_image_digest.startswith("sha256@"):
    image: #@ "us.gcr.io/galoy-org/galoy-api-migrate@" + mongodb_migrate_image_digest.replace("@",":")
#@ else:
    image: #@ "us.gcr.io/galoy-org/galoy-api-migrate:" + mongodb_migrate_image_digest
#@ end
    depends_on:
    - mongodb
    environment:
    - MONGODB_ADDRESS=mongodb

  #! Price
  price: #@ data.values.services["price"]
  price-history: #@ data.values.services["price-history"]
  price-history-migrate: #@ data.values.services["price-history-migrate"]
  price-history-pg: #@ data.values.services["price-history-pg"]

  #! Bitcoin stack
  bitcoind: #@ data.values.services["bitcoind"]
  bitcoind-signer: #@ data.values.services["bitcoind-signer"]
  lnd1: #@ data.values.services["lnd1"]
  lnd-outside-1: #@ data.values.services["lnd-outside-1"]
  bria: #@ data.values.services["bria"]
  bria-pg: #@ data.values.services["bria-pg"]
  fulcrum: #@ data.values.services["fulcrum"]

  #! Stablesats
  stablesats: #@ data.values.services["stablesats"]

  #! Otel
  otel-agent: #@ data.values.services["otel-agent"]

  #! Svix / callbacks
  svix: #@ data.values.services["svix"]
  svix-pg: #@ data.values.services["svix-pg"]

#@ load("@ytt:overlay", "overlay")
#@overlay/match by=overlay.all
---
services:
  #@overlay/match by=overlay.all, expects="1+"
  _:
    #@overlay/match when=1
    #@overlay/remove
    extra_hosts: _
    #@overlay/match when=1
    volumes:
    #@overlay/match by=overlay.all, expects="0+"
    #@overlay/replace via=lambda left, right: str(left).replace("HOST_PROJECT_PATH:-.}", "HOST_PROJECT_PATH:-.}/${GALOY_QUICKSTART_PATH:-vendor/blink-quickstart}/dev")
    - REPLACED

#@overlay/match by=overlay.all
---
services:
  svix:
    #@overlay/match missing_ok=True
    extra_hosts:
      - "dockerhost-alias:host-gateway"
